{% extends 'home.html' %}
{% load static %}

{% block content %}

<!-- Tab panes -->
<div class="row">
    <a class="btn btn-primary " role="button" href="{% url 'itemmaster:cylinderdetail' previousid %}" >Previous </a>
    <a class="btn btn-primary " role="button" href="{% url 'itemmaster:cylinderdetail' nextid %}" >Next </a>
</div>
<div class="container" id="download" style=" width:800px ">
    <div class="row justify-content-center">
        <div class="card col-md-12 mx-1" style="color:red">
            <h4> Job Name:- {{ itemmaster.id}}-{{ itemmaster.itemname}}</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-md-12 mx-0">
            <h5> Customer Name:- {{ itemmaster.itemcustomer}}</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-md-6 mx-0">
            <h5> ItemCode:- {{ itemmaster.id}}</h5>
        </div>
        <div class="card col-md-6 mx-0">
            <h5> Printing:- {{ itemmaster.printing}}</h5>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="card col-md-6 mx-0">
            <h5>Repeat Length:- {{ itemmaster.replength}}mm</h5>
        </div>
        <div class="card col-md-6 mx-0">
            <h5> Open Width:- {{ itemmaster.openwidth}}mm</h5>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-md-6 mx-0">
            <h5> No. Of Repeat:- {{ itemmaster.no_of_repeat}}</h5>
        </div>
        <div class="card col-md-6 mx-0">
            <h5> No. Of Ups:- {{ itemmaster.no_of_ups}}</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-md-6 mx-0">
            <h5> Cylinder Circum:- {{ itemmaster.cyl_circum}}mm</h5>
        </div>
        <div class="card col-md-6 mx-0">
            <h5> Cylinder length:- {{ itemmaster.cyl_length}}mm</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card col-md-6 mx-0">
            <h5> Film Size:- {{ itemmaster.film_size}}</h5>
        </div>
        <div class="card col-md-6 mx-0">
            <h5> No. Of Ply:- {{ itemmaster.ply}}</h5>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-md-12 ">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th> sr. no</th>
                    <th> Color</th>
                </tr>
                </thead>
                <tbody>
                {% for color in itemmaster.itemcolors.all %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{color.color}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <center>
        <button id="download-pngx2" class="download-btn">Download</button>
    </center>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script>
    $('#download-pngx2').click(function(){
         $('#download').addClass('x2');
            html2canvas($('#download'),
                {
                onrendered: function (canvas) {
                var a = document.createElement('a');
                    a.href = canvas.toDataURL("image/png");
                    a.download = '{{itemmaster.id}}-{{itemmaster.itemname}}-{{ itemmaster.itemcustomer}}.png';
                    a.click();}
                });
});

</script>
{% endblock content %}
