{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="row">
    <a class="btn btn-primary mb-4 ml-4" href="{% url 'itemmaster:itemlist' %}"> ItemMaster List</a>
    <a class="btn btn-danger mb-4 ml-4" href="{% url 'itemmaster:itemdetailedit' itemply.id %}"> ItemMaster Edit</a>
    <a class="btn btn-danger mb-4 ml-4" href="{% url 'itemmaster:cylinderdetail' itemply.id %}"> Cylinder detail</a>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">ITEM DETAIL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">IMAGES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">ITEM MATERIAL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3">ITEM PROCESS</a>
    </li>

</ul>


<!-- Tab panes -->
<div class="tab-content">
    <div id="home" class="container tab-pane active">
        <div class="row">
            <div class="col-sm-6 mb-0">
                <h3>ItemMsater:-{{ itemply.itemname}}</h3>
            </div>
            <div class="col-sm-6 mb-0">
                <h4>Customer Name:-{{ itemply.itemcustomer}}</h4>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ item_form.itemcode|as_crispy_field}}
            </div>

            <div class="form-group col-md-2 mb-0">
                {{ item_form.printing|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ item_form.packsize|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.replength|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.openwidth|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.slit_size|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.no_of_repeat|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.no_of_ups|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ item_form.cyl_length|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.cyl_circum|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                <div> No of Ply</div>
                <div> {{itemply.ply}}</div>
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.slit_size|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.total_gsm|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.pouch_weight|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ item_form.pouch_per_kg|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.pouch_type|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.supply_form |as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.film_size|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.unwind_direction|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ item_form.lami_rubber |as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                {{ item_form.remark|as_crispy_field }}
            </div>
        </div>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                {% for image in item %}
                {% if forloop.first %}
                <li data-target="#demo" data-slide-to="{{loop.counter0}}" class="active"></li>
                {% else %}
                <li data-target="#demo" data-slide-to="{{loop.counter0}}"></li>
                {% endif %}
                {% endfor %}
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner" align="center">
                {% for image in item %}
                {% if forloop.first %}
                <div class="carousel-item active">

                    <a href="{{ image.imagename.url }}" target="_blank">
                        <img src="{{ image.imagename.url }}" rel="noopener noreferrer" alt="no image" width="500px">
                    </a>

                </div>
                {% else %}
                <div class="carousel-item">

                    <a href="{{ image.imagename.url }}" target="_blank">
                        <img src="{{ image.imagename.url }}" rel="noopener noreferrer" alt="no image" width="500px">
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev btn" href="#demo" data-slide="prev">
                <span style="color:red"> <strong>Prev </strong></span>
            </a>
            <a class="carousel-control-next btn" href="#demo" data-slide="next">
                <span style="color:red"><strong>Next</strong></span>
            </a>

        </div>
    </div>
    <div id="menu2" class="container tab-pane fade">

        {% for rawform in rawmaterial_forms %}
        <div class="form-row">
            <div class="form-group col-md-1 mb-0">
                <br>
                <br>
                <div>{{ forloop.counter}}</div>
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ rawform.materialname|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ rawform.item_mat_type|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ rawform.item_grade|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ rawform.size|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ rawform.micron|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ rawform.instance.gsm }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="menu3" class="container tab-pane fade">
        <div class="row">
            <ul class="list-group col-md-6">
                <h4> Process detail</h4>
                {% for process in itemply.itemprocess.all %}
                <li class="list-group-item">Process:- {{process.process}} | Unit:-{{process.unit}}</li>
                {% endfor %}
            </ul>
            <ul class="list-group col-md-6">
                <h4> Colors detail</h4>
                {% for color in itemply.itemcolors.all %}
                <li class="list-group-item">{{forloop.counter}} ). {{color.color}} | Remark:-{{color.remark}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
	$(document).ready(function(){
        $('input').each(function() {$(this).attr({'disabled': 'disabled' })});
        $('select').each(function() {$(this).attr({'disabled': 'disabled' })});
        $('textarea').each(function() {$(this).attr({'disabled': 'disabled' })});
});




</script>

{% endblock content %}