*.log
local_settings.py
db.sqlite3

myprojectenv/
pepeoijlsdkf/

myproject/settings.py

backup_folder/

backup_folder/
*.json

migrations/
__pycache__/

# Media files
media/

# Static files
staticfiles/
static/

# Python
*.pyc
__pycache__/

# Environment
.env
myprojectenv/
venv/

# Database
*.sqlite3
db.sqlite3
get-pip.py

.idea/

