{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block customcss%}
<script src="{% static 'js/jquery.js' %}"></script>
{% endblock customcss %}

{% block content %}
<form method="POST" id="dispatchForm" data-address-url="{% url 'order:ajax_load_address' %}" novalidate
      enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="card-title"> Dispatch Form</h2>
    <button type="submit" class="btn btn-primary">Save dispatch</button>

    <div class="container">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a href="#form1" class="nav-link active" data-toggle="tab">
                    Dispatch Detail
                </a>
            </li>

            <li class="nav-item">
                <a href="#form2" class="nav-link " data-toggle="tab">
                    Dispatch Material Item
                </a>
            </li>

            <li class="nav-item">
                <a href="#form3" class="nav-link " data-toggle="tab">
                    Other Item
                </a>
            </li>

        </ul>
        <div class="tab-content">
            <div id="form1" class="container tab-pane active">
                <div class="form-row">
                    <div> {{ dispatch_form.non_form_errors }}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 mb-0">
                        {{ dispatch_form.customer|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ dispatch_form.dispatchdate|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ dispatch_form.address|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.recievedby|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.contact|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.recieptnumber|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.transport|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ dispatch_form.value|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ dispatch_form.vehicle|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ dispatch_form.person|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ dispatch_form.remark|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.imagename1|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.imagename2|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div id="form2" class="container tab-pane fade">
                <div class=" vertical-scrollable">
                    <div class="form-row">Disptach
                        <div class="form-group col-md-12 mb-0 " style="height: 400px;  overflow:scroll;">
                            {% if not disp.lock %}
                            {{ dispatch_form.dispatch_material|as_crispy_field }}

                            {% for mate in pendingmaterial %}
                            <li style="color:red">{{mate}}</li>
                            {% endfor %}

                            {% else %}
                            {% for item in dispatchedlist %}

                            <li style="color:Green">{{item}}</li>
                            {% endfor %}
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
            <div id="form3" class="container tab-pane fade">
                <div class="container">{{ otheritemform.management_form}}

                    <hr>
                    {% for formitem in otheritemform %}
                    <div class="form-row">
                        <span hidden>{{ formitem.id}}</span>
                        <div class="form-group col-md-1 mb-0">{{forloop.counter}}</div>
                        <div class="form-group col-md-5 mb-0">{{ formitem.item_detail|as_crispy_field }}</div>
                        <div class="form-group col-md-1 mb-0">{{ formitem.qty|as_crispy_field }}</div>
                        <div class="form-group col-md-1 mb-0">{{ formitem.unit|as_crispy_field }}</div>
                        <div class="form-group col-md-1 mb-0">{{ formitem.approxvalue|as_crispy_field }}</div>

                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock content %}


{% block javascripts %}
<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %} "></script>
<script>
    $(function () {
      $( "#id_dispatchdate" ).datetimepicker({
    format: 'd/m/Y h:i',
    });});

</script>

<script>
    $("#id_customer").change(function () {
      var url = $("#dispatchForm").attr("data-address-url");
      var customerId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'customer': customerId
        },
        success: function (data) {
          $("#id_address").html(data);
        }
      });
    });

</script>
{% endblock javascripts%}
