{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block customcss%}
{% endblock customcss %}
{% block content %}
<div class="container my-0">

    <form method="POST" id="dispatchForm" data-address-url="{% url 'order:ajax_load_address' %}" novalidate
          enctype="multipart/form-data" >

        <div class="card-body">
            <h2 class="card-title"> Dispatch Form</h2>
        </div>
        {% csrf_token %}
        <div class="row">
            <div class="col-7">
                <div class="form-row">
                    <div> {{ dispatch_form.non_form_errors }}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 mb-0">
                        {{ dispatch_form.customer|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ dispatch_form.dispatchdate|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ dispatch_form.address|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.recievedby|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.contact|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.recieptnumber|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.transport|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ dispatch_form.value|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ dispatch_form.vehicle|as_crispy_field }}
                    </div>
                      <div class="form-group col-md-4 mb-0">
                        {{ dispatch_form.person|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ dispatch_form.remark|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.imagename1|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ dispatch_form.imagename2|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-5 vertical-scrollable">
                <div class="form-row">Disptach
                    <div class="form-group col-md-12 mb-0 " style="height: 400px;  overflow:scroll;">
                        {% if not disp.lock %}
                        {{ dispatch_form.dispatch_material|as_crispy_field }}

                        {% for mate in pendingmaterial %}
                        <li style="color:red">{{mate}}</li>
                        {% endfor %}

                        {% else %}
                        {% for item in dispatchedlist %}

                        <li style="color:Green">{{item}}</li>
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
        <button type="submit " class="btn btn-primary">Save dispatch</button>
    </form>
</div>
{% endblock content %}


{% block javascripts %}
<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %} "></script>
<script>
    $(function () {
      $( "#id_dispatchdate" ).datetimepicker({
    format: 'd/m/Y h:i',
    });});

</script>

<script>
    $("#id_customer").change(function () {
      var url = $("#dispatchForm").attr("data-address-url");
      var customerId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'customer': customerId
        },
        success: function (data) {
          $("#id_address").html(data);
        }
      });
    });

</script>
{% endblock javascripts%}
