{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load extra_tag %}
{% block customcss%}

{% endblock customcss %}
{% block fixedscript %}

{% endblock fixedscript %}

{% block topscript %}
<script src="{% static 'bootadmin.net/js/jquery.min.js' %}"></script>
<script src="{% static 'vue/vue.js' %}"></script>
{% endblock topscript %}

{% block content %}

<div class="container" id="app">

        <div id="costing" class="container tab-pane active">

            <div class="container py-2">
                <div class="row">
                    <div class="col-md-12 mx-auto">

                        <div class="form-group row py-3" style="background-color:pink">
                            <div class="col-sm-2">
                                <label for="repeatLength">Repeat Length</label>
                                <input v-model="repeatLength" type="number" class="form-control" id="repeatLength"
                                       placeholder="Repeat Length" min="10" max="1000">
                            </div>
                            <div class="col-sm-2">
                                <label for="openWidth">Open Width</label>
                                <input v-model="openWidth"
                                       type="number" class="form-control"
                                       id="openWidth"
                                       placeholder="Open Width" min="10" max="1000">
                            </div>
                            <div class="col-sm-1">
                                <label for="no_of_repeat">Repeat</label>
                                <input v-model="no_of_repeat" type="number" class="form-control" id="no_of_repeat"
                                       placeholder="No of Repeat" min="1" max="25">
                            </div>
                            <div class="col-sm-1">
                                <label for="no_of_ups">Ups.</label>
                                <input v-model="no_of_ups" type="number" class="form-control" id="no_of_ups"
                                       placeholder="No of Ups." min="1" max="25">
                            </div>
                            <div class="col-sm-2">
                                <label for="no_of_ups">Supply Type</label>
                                <select v-model="supplyType" name="supplyType" class="select form-control"
                                        id="supplyType">
                                    <option value=""> --------</option>
                                    <option value="CenterSeal">CenterSeal</option>
                                    <option value="Roll">Roll</option>
                                    <option value="Standy">Standy</option>
                                    <option value="Standy with Zipper">Standy with Zipper</option>
                                    <option value="Three Side Seal">Three Side Seal</option>
                                    <option value="Three side zipper">Three side zipper</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <label for="waste">Waste %</label>
                                <input class="form-control" type="number" name="waste" id="waste" v-model="waste">
                            </div>


                            <div class="col-sm-2">
                                <label for="qty">Qty.</label>
                                <input v-model="qty" type="number" class="form-control" id="qty">
                            </div>
                            <div class="col-sm-1">
                                <label for="unit">Unit</label>
                                <select v-model="unit" class="select form-control" id="unit">
                                    <option value="Kg">Kg</option>
                                    <option value="Nos.">Nos.</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label for="kgQty">kgQty.</label>
                                <input v-model="kgQty" type="number" class="form-control" id="kgQty">
                            </div>
                             <div class="col-sm-2">
                                <label for="totalPouch">Total Pouch</label>
                                <input class="form-control" type="number" name="totalPouch" id="totalPouch"
                                       v-model="totalPouch">
                            </div>
                            <div class="col-sm-6">
                                <p class="h4 text-danger "> [[circumError]] </p>
                                <p class="h4 text-danger "> [[cylinderLengthError]] </p>

                            </div>

                        </div>
                        <hr style="background-color:blue">
                        <div class="form-group row">

                            <div class="col-sm-1">
                                <label for="pouching">Pouching</label>
                                <input class="form-control" type="number" name="pouching" id="pouching"
                                       v-model="pouchingCost">
                            </div>
                              <div class="col-sm-2">
                                <label for="cylinderCost">CylinderCost</label>
                                <input v-model="cylinderCost" type="number" class="form-control" id="cylinderCost"
                                       style="background-color:yellow">
                            </div>
                            <div class="col-sm-2">
                                <label for="totalCost">Material rate Rs./Kg</label>
                                <input class="form-control" type="number" name="totalCost" id="totalCost"
                                       v-model="totalCost" style="background-color:yellow">
                            </div>


                            <div class="col-sm-2">
                                <label for="pouchCost">Cost/Pouch Rs. </label>
                                <input v-model="pouchCost" class="form-control" type="number" v-model="pouchCost"
                                       id="pouchCost" style="background-color:yellow">
                            </div>
                            <div class="col-sm-2">
                                <label for="no_of_repeat">Pouch/Kg.</label>
                                <input v-model="pouchPerKg" type="number" class="form-control" id="pouchPerKg">
                            </div>

                            <div class="col-sm-1">
                                <button class="btn btn-primary m-1" @click="getStructure('2ply')">2ply</button>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary m-1" @click="getStructure('3ply')">3ply</button>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary m-1" @click="getStructure('4ply')">4ply</button>
                            </div>


                        </div>
                        <hr style="background-color:blue">
                        <div class="form-group row">
                            <div class="col-2 border">
                                <div class="col-sm-12">
                                    <label for="circum">Cyl.Circum</label>
                                    <input class="form-control" type="number" v-model="circum" id="circum">
                                </div>
                                <div class="col-sm-12">
                                    <label for="cylinderLength">Cyl.Length</label>
                                    <input v-model="cylinderLength" class="form-control" type="number"
                                           v-model="cylinderLength" id="cylinderLength">
                                </div>
                                <div class="col-sm-12">
                                    <label for="filmSize">Film size</label>
                                    <input v-model="filmSize" class="form-control" type="number" v-model="filmSize"
                                           id="filmSize">
                                </div>

                            </div>
                            <div class="col-2 border">
                                <div class="col-sm-12">
                                    <label for="no_of_repeat">Gsm</label>
                                    <input v-model="totalGsm" type="number" class="form-control" id="totalGsm">
                                </div>
                                <div class="col-sm-12">
                                    <label for="no_of_repeat">Pouch wt.</label>
                                    <input v-model="pouchWt" type="number" class="form-control" id="pouchWt">
                                </div>


                            </div>

                            <div class="col-4 border">
                                <div v-for="(layer, index) in layers" :key="index" class="row">
                                    <div class="col-sm-8">
                                        <select class="select form-control" v-model="layer.film">
                                            <option v-for="(material, index) in newdata" :value=material.material>
                                                [[material.material]]
                                            </option>
                                        </select>

                                    </div>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="number" id="mic1" min="0" max="200"
                                               v-model="layer.mic">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



</div>


{% endblock %}


{% block javascripts %}
<script src="{% static 'vue/forms.js' %}"></script>
<script>
    let data = {
        repeatLength: "",
        openWidth: "" ,
        no_of_repeat: "",
        no_of_ups:"",
        circumError:"",
        cylinderLengthError:"",
        qty: "",
        unit: "",
        waste: 10,
        manpower: 17,
        electricity: 6,
        packing: 2,
        pouching: 10,
        transport: 7,
        margin: 8,
        supplyType: "" ,
        solventCost:0,
        layers: [
            { "film": "PET", "mic": 12 },
            { "film": "METPET", "mic": 12 },
            { "film": "NAT_GPE", "mic": 60 },
            { "film": "INK", "mic": 2 },
            { "film": "ADHESIVE", "mic": 5 },
        ],

        newdata: [],
        quotation: [],

    }


    const app = Vue.createApp({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return data
        },
        components: {
        'text-input': TextInput,
        'select-input': SelectInput,
        'check-input': CheckInput,
        },

        methods: {

            async getStructure(structure) {
                fetch(`{% base_url %}/quotation/getstructure/${structure}/`)
                    .then(response => response.json())
                    .then(data => {
                        this.layers = data;
                    })
            },

            getGsm(layer) {

                let obj = this.newdata.find(o => o.material == layer.film)

                if (obj != null) {
                    return (obj.density * layer.mic).toFixed(2)
                }
                else {
                    return 0
                }

            },

            getRate(layer) {
                let obj = this.newdata.find(o => o.material == layer.film)

                if (obj != null) {
                    return (obj.rate)
                }
                else {
                    return 0
                }
            },
            getCost(layer) {
                let obj = this.newdata.find(o => o.material == layer.film)

                if (obj != null) {
                    return (obj.density * obj.rate * 100 / obj.solid * layer.mic / this.totalGsm).toFixed(2)
                }
                else {
                    return 0
                }

            },


        },


        computed: {
            kgQty() {
                return this.unit === "Kg" ? this.qty : (this.qty / this.pouchPerKg).toFixed(2)

            },

            totalPouch() {
                return (this.kgQty * this.pouchPerKg).toFixed(0)

            },

            circum() {

                result=(this.repeatLength * this.no_of_repeat).toFixed(2)
                if (result < 380 ){
                this.circumError="Cylinder Circum is less Than 380mm, Increase Repeat. ";
                 }
                else if (result > 1200 ){
                this.circumError="Cylinder Circum is higher Than 1200mm, Decrease Repeat. ";

                }
                else{
                this.circumError="";
                 }

                 return result
            },

            cylinderLength() {
                result=(this.openWidth * this.no_of_ups + 60).toFixed(0)
                if (result < 400){
                this.cylinderLengthError="Length is less than 400mm, Increase Ups. "
                }
                else if (result > 1100){
                this.cylinderLengthError="Length is Higher than 1100mm, Decrease Ups. "}

                else {
                this.cylinderLengthError=""
                }

                return result
            },

            filmSize() {
                return (this.openWidth * this.no_of_ups + 15).toFixed()
            },

            totalGsm() {
                let sum = 0;
                for (const item of this.layers) {
                    if (this.getGsm(item)!= 0){
                    sum += +this.getGsm(item);}
                    else{return 0}
                }
                return sum.toFixed(2);
            },

            totalCost() {

            if ( this.supplyType !== "" ){
                let sum = 0;
                for (const item of this.layers) {
                    sum += +this.getCost(item) * (1 + this.waste / 100);
                }
                let ethyl = this.newdata.find(o => o.material == 'ETHYL')
                ethylrate = 0
                if (ethyl != null) {
                    ethylrate = ethyl.rate
                }
                 this.solventCost = ethylrate * this.solvent

                return ((sum + (this.solventCost) + this.manpower + this.electricity + this.packing
                    + (+this.pouchingCost) + this.transport) * (1 + this.margin / 100)).toFixed(2);
            }

            else {

            return 0
            }
            }
            ,

            pouchWt() {

                if (this.supplyType.toLowerCase().includes("zipper")) {
                    return ((+this.totalGsm * this.repeatLength * this.openWidth / 1000000) + (this.repeatLength * 0.0065))
                        .toFixed(2)
                        .toString()
                }
                else {
                    return (this.totalGsm * this.repeatLength * this.openWidth / 1000000).toFixed(2)
                }
            },

            pouchPerKg() {
                return (1000 / this.pouchWt).toFixed(2)
            },

            pouchCost() {
                return (this.totalCost / this.pouchPerKg).toFixed(2)
            },

            cylinderCost() {

            if (this.repeatLength >= 10 && this.openWidth >= 10 && this.no_of_repeat >= 1 && this.no_of_ups >= 1 ){

                return Math.max(((this.circum * this.cylinderLength * 2.4 / 100) + (500)).toFixed(), 5100)
            }
            else {
            return 0
            }
            },

            pouchingCost() {

                cost = 0
                if (this.supplyType === "Roll") {
                    return cost
                }
                if (this.supplyType.toLowerCase().includes("zipper")) {
                    cost = this.repeatLength * 0.0060 * this.pouchPerKg
                }
                if (this.supplyType.toLowerCase().includes("standy")) {
                    if (this.repeatLength <= 135) {

                        cost += this.pouchPerKg * 0.15
                    }
                    else if (this.repeatLength <= 160) {
                        cost += this.pouchPerKg * 0.2
                    }
                    else if (this.repeatLength <= 210) {
                        cost += this.pouchPerKg * 0.25
                    }
                    else {
                        cost += this.pouchPerKg * 0.3
                    }
                }
                else {
                    cost += 10
                }

                return +cost.toFixed()
            },

            solvent() {
                let sum = 0;

                for (const item of this.layers) {
                    let materialsolid = this.newdata.find(o => o.material == item.film)
                    console.log("material solid : ", materialsolid)
                    if (item.film === "INK" || item.film === "ADHESIVE" && materialsolid !== undefined && materialsolid.solid != undefined) {
                        sum += +this.getGsm(item) * 100 / materialsolid.solid;

                    }
                }
                return (sum * 1.2 / this.totalGsm).toFixed(2);
            },
        },

        beforeMount() {

            fetch("{% base_url %}/quotation/getstructure/2ply")
                .then(response => response.json())
                .then(data => {
                    this.layers = data;
                    console.log(this.layers, 'beforemount')
                })


            fetch("{% base_url %}/quotation/materialjson")
                .then(response => response.json())
                .then(data => {
                    this.newdata = data;
                })

        },

        mounted(){
            (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
                })
            })()
        },
    });

    app.mount('#app')

</script>

{% endblock javascripts %}
