{% extends 'home.html' %}
{% load static %}


{% load crispy_forms_tags %}


{% block customcss%}

{% endblock customcss %}

{% block content %}

<form method="POST">

    <div class="card-body">
        <h2 class="card-title">New Route Form</h2>

    </div>
    {% csrf_token %}

    {{ routeform.management_form }}
    <div class="form-row">

        <div class="form-group col-md-2 mb-0">
            {{ routeform.route_date|as_crispy_field }}
        </div>

        <div class="form-group col-md-8 mb-0">
            {{ routeform.marketing_person|as_crispy_field }}
        </div>
    </div>

    <button type="submit " class="btn btn-primary">Save Route</button>
</form>
{{ routeform.errors }}
{% endblock content %}


{% block javascripts %}
<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %} "></script>
<script>
    $(function () {
      $( "#id_route_date" ).datetimepicker({
    format: 'd/m/Y ',
    value: new Date(),

});
    });

</script>


{% endblock javascripts%}
