{% extends 'home.html' %}
{% load static %}


{% load crispy_forms_tags %}


{% block customcss%}

{% endblock customcss %}

{% block content %}

<form method="POST" id="orderForm" data-address-url="{% url 'order:ajax_load_address' %}" novalidate>

    <div class="card-body">
        <h2 class="card-title">New Order Form</h2>

    </div>
    {% csrf_token %}

    {{temp_data}}
    {{customer}}
    {{ order_form.management_form }}
    <div class="form-row">

        <div class="form-group col-md-8 mb-0">
            {{ order_form.customer|as_crispy_field }}
        </div>
        <div class="form-group col-md-1 mb-0">
            <a class="btn btn-primary" href="{% url 'customer:customerdetailadd' %}?next={{request.path}}">
                <strong>+</strong></a>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2 mb-0">
            {{ order_form.po|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ order_form.podate|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ order_form.deliverydate|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ order_form.paymentterms|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ order_form.tax1|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ order_form.tax2|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">

    </div>

    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
            {{ order_form.transport|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ order_form.remark|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ order_form.delivery_at|as_crispy_field }}
        </div>

    </div>
    <button type="submit " class="btn btn-primary">Save Order</button>
</form>
{{ order_form.errors }}
{% endblock content %}


{% block javascripts %}
<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %} "></script>
<script>
    $(function () {
      $( "#id_podate" ).datetimepicker({
    format: 'd/m/Y h:i',
    value: new Date(),

});
    });
</script>
<script>
    $(function () {
      $( "#id_deliverydate" ).datetimepicker({
    format: 'd/m/Y h:i',
    value: new Date(Date.now() + 864e5 * 20),

});
    });

</script>
<script>
    $("#id_customer").change(function () {
      var url = $("#orderForm").attr("data-address-url");
      var customerId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'customer': customerId
        },
        success: function (data) {
          $("#id_delivery_at").html(data);
        }
      });
    });
</script>
{% endblock javascripts%}
