{% extends 'home.html' %}
{% load static %}
{% block customcss%}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}">
{% endblock customcss %}
{% block content %}


<!--table start from here-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Material List</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>MATERIAL NAME</th>
                                <th>DENSITY</th>
                                <th>SOLID</th>
                                <th>WEIGHTGAIN</th>
                                <th>STATE</th>
                                <th class="text-center"><a class="btn btn-primary" href=" {% url 'material:materialadd' %}"> Add New
                                    Material</a></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for material in materiallist %}
                            <tr>

                                <td>{{material.id}}</td>
                                <td scope="row"><strong>{{material.name}}</strong></td>
                                <td> {{material.density}}</td>
                                <td> {{material.solid}} %</td>
                                <td>{% if material.weightgain %} 1{% else %}0{% endif %}</td>
                                <td>{{ material.state }}</td>
                                <td class="text-center">
                                    <a class="btn btn-warning" href=" {% url 'material:materialedit' material.id %}">Edit</a>

                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- table end here-->

{% endblock content %}

{% block javascripts %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
 <script > $(document).ready(function() { $('.table').DataTable(); });</script>
{% endblock javascripts %}