{% load extra_tag %}
{% load crispy_forms_tags %}

{% with user=request.user.username %}

{% with userlist='cmshaikh,tayyab,anas' %}
{% if user in userlist %}

<nav class="navbar navbar-expand navbar-dark bg-primary my-0 py-0">
    <a class="sidebar-toggle mr-3" href="#" id="sidebarhide"><i class="fa fa-bars"></i><i class="fa fa-bars"></i></a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
                <a herf="#" id="task" class="nav-link dropdown_toggle" data-toggle="dropdown"
                   style="color:lightgreen">
                    <strong>Task</strong>
                </a>

                <div class="dropdown-menu " aria-labelledby="task">
                    <ul>

                        <table class="table dropdown-item">

                            <tr>
                                <td>
                                    <a href="{% url 'task:tasklist' %}?task_alloted_to={{request.user.id}}&is_closed=false"
                                       class="nav-link" style="color:blue; font-size:20px">To Me </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'task:tasklist' %}?createdby={{request.user.id}}&is_closed=false"
                                       class="nav-link"
                                       style="color:blue; font-size:20px">By Me</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'task:tasklist' %}?createdby={{request.user.id}}&request_to_close=true&is_closed=false"
                                       class="nav-link"
                                       style="color:blue; font-size:20px">To Be Close</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{% url 'task:tasklist' %}?createdby={{request.user.id}}&request_to_close=true&is_closed=true"
                                       class="nav-link"
                                       style="color:blue; font-size:20px">Closed</a>
                                </td>
                            </tr>

                        </table>

                    </ul>

                </div>


            <li class="nav-item dropdown">
                <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   style="color:lightgreen">
                    <i class="fa fa-user"></i> <strong>{{request.user}}</strong></a>
                <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dd_user" style="width:300px">
                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


{% else %}

<nav class="navbar navbar-expand navbar-dark bg-primary my-0 py-0">
    <a class="sidebar-toggle mr-3" href="#" id="sidebarhide"><i class="fa fa-bars"></i><i class="fa fa-bars"></i></a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mx-auto">

            {% tasklist %}
            {% if request.user.username == "khadimhusen" %}

            {% prejoblist %}
            {% endif %}

            {% if request.user.username in "khadimhusen,zaid,ashraf,sachin" %}

            {% polist %}
            {% endif %}
            <li class="nav-item">
                <div class="flex-grow-1 d-flex">
                    <form class="form-inline flex-nowrap bg-light mx-0 mx-lg-auto rounded">
                        <input class="form-control mr-sm-4" type="search" id="id_itemname" name="itemname"
                               placeholder="Job Search" aria-label="Search">
                        <button class="btn btn-outline-success" formaction="{% url 'order:joblist' %}" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </li>

            <li class="nav-item"><a href="{% url 'order:joblist' %}?q=Pending" class="nav-link" style="color:white">
                WIP({% pendingjobs %})- Qty ({% pendingkg %}Kg.) </a>
            </li>
            <li class="nav-item"><a href="{% url 'order:joblist' %}?q=Job Work" class="nav-link" style="color:white">
                Job Work({% jobwork %})</a>
            </li>
            <li class="nav-item"><a href="{% url 'order:joblist' %}?q=Partially Ready" class="nav-link"
                                    style="color:white">
                Partially ({% partiallyready %})</a>
            </li>
            <li class="nav-item"><a href="{% url 'order:joblist' %}?q=Unplanned" class="nav-link" style="color:white">
                <span style="background-color:red; color:yellow; font-size:20px; ">Unplanned ({% newjobs %})- Qty ({% newkg %}Kg.)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   style="color:lightgreen">
                    <i class="fa fa-user"></i> <strong>{{request.user}}</strong></a>
                <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dd_user" style="width:300px">
                    <a href="#" class="dropdown-item">Profile</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>

                    <!-- shortcut -->
                    <hr>

                    <a class="dropdown-item"
                       href="{% url 'order:processlist' 'Printing' %}?job__jobstatus=Pending&job__jobstatus=Unplanned&status=Pending&status=Incomplete&page=1">Pending
                        for Printing </a>
                    <a class="dropdown-item"
                       href="{% url 'order:processlist' 'Lamination' %}?job__jobstatus=Pending&job__jobstatus=Unplanned&status=Pending&status=Incomplete&page=1">Pending
                        for Lamination </a>
                    <a class="dropdown-item"
                       href="{% url 'order:processlist' 'Slitting' %}?job__jobstatus=Pending&status=Pending&job__jobstatus=Unplanned&status=Incomplete&page=1">Pending
                        for Slitting </a>
                    <a class="dropdown-item"
                       href="{% url 'order:processlist' 'Pouching' %}?job__jobstatus=Pending&status=Pending&job__jobstatus=Unplanned&status=Incomplete&page=1">Pending
                        for Pouching </a>
                    <a class="dropdown-item" href="{% url 'order:processlist' 'All' %}?status=Running">Running</a>

                </div>
            </li>
        </ul>
    </div>
</nav>

{% endif %}
{% endwith %}


{% endwith %}
<div>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show py-1" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    {% endfor %}
</div>
